*{margin:0px;padding:0px;}


/*! Inicio css pagina login */
#body {
	width:100%;
	height:auto;
	background-image:url(../img/1.jpg);
	display: block;
	max-width: 100%;
	  	}

#login {
	margin-top:15%;	
	}
	
.form-control {
	margin-bottom:10px;
	margin-left:10px;	
	}
	
#bt_login_php {
	margin-left:45%;
	margin-top:15px;
	
	}
.text {
	color:#FFF;
	font-weight:bold;
	}

/*! Inicio css pagina painel */
	
#heatxt {
	font-size:14px;
	color:#999;
	ruby-align:center;	
	}
p {
	color:#999;
	}
/*! Cadastro */
#cadastro {
	font-family:"Century Gothic";
	font-size:18px;
	color:#000;
	position:absolute;
	left:100%;
	outline:none;
	top: 40px;
	}
.txt {
	font-size:25px;
	background-color:#CCC;
	color:#FFF;
	height:35px;
	width:300px;
	border:none;
	border-radius:5px;
	margin:5px 0px 0px 15px;
	}
#bt_cadastro {
	font-family:"Century Gothic";
	font-size:18px;
	color:#000;
	background-color:#CCC;
	width:100px;
	height:30px;
	border:1px solid #000;
	border-radius:5px;
	position:absolute;
	left:40%;
	bottom:-20%;
	margin: 0px 0px 100px 0px;
	}
#bt_cadastro:hover {
	background-color:#666;
	color:#FFF;
	}
	
/*! Painel Adv */

#button_exit {
	position:absolute;
	right:2px;
	}
#button_perfil {
	position:absolute;
	right:7%;
	}
#include
 	{
	position:absolute;
	}
/*! Painel de procuração */
.sexo_txt {
	width:400px;
	height:auto;
	}
#check_pai {
	margin: 8px 0px 0px 35px;
	}
.vl-total {
	background-color:#CCCCCC;
	border: 3px solid silver;
	padding: 10px;
	border-color:#000000;
}

div.disabled {
background: lightgrey;
}
.fieldset {
	border: 1px solid silver; 
	padding: 10px;
	}
.transparente {
	opacity: 0;
	}
.posionselect {
background-color:#4A6FE5; 
color:#F7F7F7;
}
	
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#closediv {
right:8%;
position:absolute;

	}
#check_conf_insalubre {
	text-align:center;
	}
	
#check_conf_periculoso {
	text-align:center;
	
	}
.boxer {
   display: table;
   border-collapse: collapse;
}
 
.boxer .box-row {
   display: table-row;
}
 
.boxer .box {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   border: 1px solid black;
}
	
 
select[readonly] {
  background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
  pointer-events: none;
  touch-action: none;
}	
#search_name {	
	margin-top:4px;
	}
.icocads {
	color:#890101;	
	}
.transparente {
	opacity:0.0;
	}

